<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>
<h2>Personal Form</h2>

<form method="post" id="personForm" data-branches-url="{% url 'ajax_load_branches' %}">
    {% csrf_token %}
    {{ form.as_p }}
<!--    <input type="submit" value="Submit">-->
    <button onclick="alert('Application accepted');" id="myButton" class="float-left submit-button" >Submit</button>
<!--    <button type="button" onclick="fireSweetAlert()" >Submit</button>-->


</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_district").change(function () {
        const url = $("#personForm").attr("data-branches-url");  // get the url of the `load_branches` view
        const districtId = $(this).val();  // get the selected district ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-branches/ )
            data: {
                'district_id': districtId       // add the district id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_branches` view function
                $("#id_branch").html(data);  // replace the contents of the branch input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (branch) {
                    html_data += `<option value="${branch.id}">${branch.name}</option>`
                });
                console.log(html_data);
                $("#id_branch").html(html_data);

                */
            }
        });

    });
</script>


</body>
<!--<a class="btn btn-warning" href="logout">Logout</a>-->
<button onclick="document.location='http://127.0.0.1:8000/newapp/add/logout'">Logout</button>
</html>